html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.celebrate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fdfbfb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
}

.celebrate-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #f5f5f5;
  color: #333;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
